{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Inscription</h2>

                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">
                            <h4>Pas encore inscrit ?</h4>
                            <em>
                                please register <br/>
                                to place your order<br/>
                            </em>
                        </div>

                        <div class="span4 offset2">
                            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}





